Django>=4.0
djongo>=1.3.6  # Connector to use MongoDB with Django
pymongo==4.4.0  # MongoDB driver
gunicorn==23.0.0  # WSGI HTTP Server for UNIX
python-dotenv==0.21.1  # To load environment variables from a .env file
django-crispy-forms>=1.14.0  # To handle forms more elegantly in Django
